 * { margin: 0; padding: 0; box-sizing: border-box; background: rgb(36, 45, 60); }
        [selected]
        {
            background-color: rgb(70,90,120);
        }
        .tab-text { background-color : transparent; }
        .tab,.file-control
        {
            display: inline-block;
            height: 40px;
            border: 1px solid rgb(255,255,255);  
            text-align: center;
            box-sizing: border-box;
            padding: 10px 40px;
        }
        .editor { border: 1px solid rgb(255,255,255); }
        .editor-container 
        {

            background: rgb(36, 45, 60);
            border: 1px solid rgb(255,255,255); 
            color : rgb(255,255,255);
        }
        .fakeclass{
            color: green;
        }